<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <%- include("./components/header.ejs") %>

    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <%- include("./components/navbar.ejs", { loggedIn: loggedIn}) %>

        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="info">
                        <div class="title">All Articles</div>

                        <div class="searchbar">
                            <input class="search" placeholder="Search for article...">
                        </div>

                        <% if (articles.length > 0) { %>
                            <% articles.forEach(article => { %>
                                <a href="/articles/<%= article._id %>">
                                    <div class="article">
                                        <div class="art-title"><%= article.title %></div>
                                        <div class="art-snippet"><%= article.snippet %></article></div>
                                    </div>
                                </a>
                            <% }) %>
                        <% } else { %>
                            <p>There are no articles to display</p>
                        <% } %>
                    </div>
                </div>
                <div class="col-12 col-lg-4 margin">
                    <%- include("./components/recentArticles.ejs") %>
                </div>
            </div>
        </div>

        <%- include("./components/footer.ejs") %>

        <script>
            $(".search").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $(".article").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        </script>
    </body>
</html>