<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <%- include("./components/header.ejs") %>

    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div data-bs-spy="scroll" data-bs-target="#list" data-bs-offset="0" class="scrollspy-example" tabindex="0">
            <div class="white">

            </div>
    
            <%- include("./components/navbar.ejs", { loggedIn: loggedIn }) %>
    
            <div class="container">
                <div class="popular row">
                    <div class="col-12 col-lg-8">
                        <div class="info">
                            <div class="title">Popular Articles</div>
                            <div>
                                <% if (articles.length > 0) { %>
                                    <% articles.forEach(article => { %>
                                        <a href="/articles/<%= article._id %>">
                                            <div class="article">
                                                <div class="art-title"><%= article.title %></div>
                                                <div class="art-snippet"><%= article.snippet %></article></div>
                                            </div>
                                        </a>
                                    <% }) %>
                                <% } else { %>
                                    <p>There are no articles to display</p>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 margin">
                        <%- include("./components/recentArticles.ejs") %>
                    </div>
                </div>
    
                <div id="about" class="about">
                    <div class="text-container">
                        <div class="subtitle">Who We Are</div>
                        <div class="subtext">
                            We are a group Cedarville students who are sinners saved by grace alone, through faith alone, 
                            in Christ alone, and we acknoweldge that we are no better than those we are trying to reach.
                        </div>
                    </div>
                    
                    <div class="text-container">
                        <div class="subtitle">What We Have Seen</div>
                        <div class="subtext">
                            We have observed people who believe they are "good enough," satisfied with where they are 
                            spirtually, who glide through their 1000 days at Cedarville with no fruit to show for the 
                            salvation they claim to have.
                        </div>
                    </div>
        
                    <div class="text-container">
                        <div class="subtitle">Why We Exist</div>
                        <div class="subtext">
                            We exist to exhort others, and ourselves, to live wholeheartly for Christ and disrupt 
                            the lives of those who live complacently. We want to plant seeds by writing articles that
                            are centered around the things we are passionate about, to spur each other on to live for 
                            Christ, and not waste the little time we have at Cedarville.
                        </div>
                    </div>
                </div>
                
                <div class="footer-nav">
                    <a class="nav-item-footer" href="/articles">Articles</a>
                    <a class="nav-item-footer" href="/contact">Contact</a>
                    <div class="nav-item-footer top">Back To Top</div>
                </div>

            </div>
        </div>

        <%- include("./components/footer.ejs") %>
    </body>

    <script>
        $(".top").on({
            "click": function() {
                window.scrollTo({ top: 0, behavior: 'smooth' });
            }
        });

        $(window).scroll(function () {
            var y = $(".about").position().top;
            alpha = y/300;

            $(".white").css("height", "400vh");
            $(".about").css("margin-top", "70vh")

            if ($(window).width() < 992) {
                alpha = y/250;   
                $(".about").css("margin-top", "95vh")
            }

            var currentScrollTop = $(window).scrollTop();
            currentAlpha = Math.max((alpha) - ((currentScrollTop * 200 / 500) / 100), 0);
            $(".white").css('opacity', currentAlpha);
            $(".recent-articles").css('opacity', currentAlpha);
            $("::-webkit-scrollbar").css('opacity', currentAlpha);
        });
    </script>
</html>